language: python

notifications:
  email: false

branches:
  only:
    - master

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - swig

python:
  - '2.7'

before_install:
  - mkdir build

install:
  - cd externals
  - make
  - cd ..
  - make

script:
  - cd src
  - python test_wrapper.py
