language: python

notifications:
  email: false

branches:
  only:
    - master

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - cmake
      - swig
      - gcc-4.8
      - g++-4.8

python:
  - '2.7'

before_install:
  - mkdir build
  - export CXX="g++-4.8" CC="gcc-4.8"

install:
  - cd externals
  - make
  - cd ..
  - make

script:
  - cd src
  - python test_wrapper.py

